body {
  --primary-color: rgba(223, 15, 36, 0.829);
  --secondary-color: rgba(141, 163, 184, 0.534);
  --black-color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  /* background-color: var(--secondary-color); */
  background: linear-gradient(
    to right bottom rgba(141, 163, 184, 0.589),
    rgba(135, 143, 199, 0.787)
  );
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 99vw;
  /* padding-left: 25px; */
  line-height: 1rem;
}

.name-container {
  text-transform: uppercase;
  backface-visibility: hidden;
}

.name {
  font-weight: 600;
  letter-spacing: 0.4rem;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
  color: var(--black-color);
}

.last {
  color: var(--primary-color);
}

.my-title {
  font-weight: 500;
  letter-spacing: 0.2rem;
  animation: moveInLeft 1.5s ease-out;
  color: var(--black-color);
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

.icon-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.icon {
  color: var(--black-color);
  background: none;
}

.icon-1 {
  margin-right: 6px;
  animation: fallFromTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.icon-2 {
  margin-left: 6px;
  animation: fallFromTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.icon:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}

.icon:active {
  transform: translateY(-1px);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fallFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
